.form-control {
    padding-left: 16px !important;
}

.form-control:focus {
    border-color: #778beb;
    box-shadow: 0 0 0 0.1rem #fff;
}

.nav-active {
      color: #778beb !important;
      font-weight: bold !important;
      background-color: #dff9fb;
      border-radius: 20px;
}